* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1f1f1f, #3a3a3a);
  font-family: 'Poppins', sans-serif;
}

.calculator {
  background: #111;
  padding: 20px;
  border-radius: 20px;
  width: 320px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.6);
}

.display input {
  width: 100%;
  height: 60px;
  background: #000;
  border: none;
  color: #cdd5db;
  font-size: 28px;
  text-align: right;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  height: 55px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  background: #222;
  color: white;
  transition: 0.2s;
}

button:hover {
  background: #333;
}

.operator {
  background:#3834aa;
  color: #000;
}

.operator:hover {
  background: #8c7cf6;
}

.equal {
  background: #0099e6;
  color: #000;
}

.equal:hover {
  background: #046433;
}

.zero {
  grid-column: span 2;
}
